<% content_for :head do %>
  
  <title>IMG</title>

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<% end %>
<% content_for :body do %>
  
  <!-- Vue templates -->
  <template id='window-template'>
    <div class='window' v-bind:style='styleObj' v-if='open'>
      <div class='window-bar' v-on:mousedown='click'>
        <div class='close' v-on:click='close'></div>
      </div>
      
      <slot></slot>
    
    </div>
  </template>

  <template id='wheel-template'>
    <div class='color-wheel'>
      <%= image_tag 'color_wheel.png', style: "display: none;" %>
      <canvas :width="width" :height="height"
              v-on:mousedown='click'
              v-on:mousemove='drag'>
      </canvas>
      <slot></slot>  
    </div>
  </template>

  <template id='color-selector-template'>
    <div class='selected-colors'>
      <a  v-bind:class="{ 'selected-color': primarySelected }"
          v-bind:style='{ backgroundColor: primaryColor }'
          v-on:click='clickPrimary'>
      </a>

      <a  v-bind:class="{ 'selected-color': secondarySelected }"
          v-bind:style='{ backgroundColor: secondaryColor }'
          v-on:click='clickSecondary'>
      </a>
    </div>
  </template>

  <template id='item-template'>
    <li>
      <a  v-bind:class="{ 'menu-item': true, 'menu-item-selected': visible }"
          v-on:click='toggle'>
        {{ text }}
      </a>
      <ul class='dropdown' v-if='visible'>
        <slot></slot>
      </ul>
    </li>
  </template>

  <template id='menu-bar-template'>
    <menu id='menu-bar'>
      <ul>
        <slot></slot>
      </ul>
    </menu>
  </template>

  <!-- Vue.js app container -->
  <div  id='vue-app' 
        v-on:mousemove='dragWindows'
        v-on:mouseup='unclickWindows'>

    <!-- Top menu bar -->
    <menu-bar>
      <item text='File'>
        <a>Open</a>
        <a>New</a>
        <a>Save</a>
        <a>Save As...</a>
      </item>
      <item text='Edit'>
        <a>Undo</a>
        <a>Redo</a>
        <a>Copy</a>
        <a>Cut</a>
        <a>Paste</a>
        <a>Duplicate</a>
      </item>

      <item text='Layers'>
        <a>New Layer</a>
        <a>Edit Layer</a>
        <a>Move Layer Up</a>
        <a>Move Layer Down</a>
        <a>Layers Menu</a>
      </item>

      <item text='Colors'>
        <a>Hue/Saturation</a>
        <a>Brightness/Contrast</a>
        <a>Black and White</a>
        <a>Invert</a>
      </item>

      <item text='Help'>
        <a>View Docs</a>
      </item>

    </menu-bar>

    <!-- Our background -->
    <div id='background-layer1'></div>
    <div id='background-layer2'></div>

    <!-- Editing Area -->
    <div id='editing-area-layer'>
      <%= image_tag 'placeholder.jpg', id: 'main-image' %>
    </div>

    <!-- Windows -->
    <div id='windows-layer'>
      <window id='tools' constraint='#windows-layer'>
        <%= image_tag 'grab.png', id:'grab-icon' %>
        <%= image_tag 'select.png' %>
        <%= image_tag 'eraser.png' %>
        <%= image_tag 'paint.png' %>
        <%= image_tag 'eyedropper.png', id:'eyedropper-icon' %>
      </window>

      <window id='colors' constraint='#windows-layer'>
        <color-wheel width=200 height=200>
          <color-selector></color-selector>
        </color-wheel>
      </window>
    </div>

  </div>

<% end %>
